services:
  api:
    container_name: demo_dev_api
    ports:
      - 3000:3000
    environment:
      - PGUSER=futureproof
      - PGHOST=db
      - PGPASSWORD=postspass
      - PGDATABASE=posts
      - PGPORT=5432
      - NODE_ENV=development
    depends_on:
      - db
    command: bash -c "npm install && npm run seedDev && npm run dev"

  db:
    container_name: demo_dev_db
    volumes:
      - "dbdata:/var/lib/postgresql/data"
    environment:
      - POSTGRES_DB=posts
      - POSTGRES_USER=futureproof
      - POSTGRES_PASSWORD=postspass

volumes:
  dbdata:
networks:
  default:
    name: demo_api
